@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4">Most Common Bank of Australia</h1>
    
    <div class="text-center">
        <img src="~/img/bank.jpg" alt="bank" />
    </div>
</div>

<hr />

<h1>Banking Made Easy!</h1>
<p>Sick of all those other Australin banks that never meet your expectations? Are you in need of a trustworthy banking service that will always work when you need it most?
    Then invest yourself into the Most Common Bank of Australia, made by a lone 3rd year Computer Scientist with no idea on how to make a good website, better yet banking
    site. 
</p>